@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,400&family=Newsreader:wght@500&display=swap');

:root {
  --background-dark: #2d3548;
  --text-light: rgba(255, 255, 255, 0.6);
  --text-lighter: rgba(255, 255, 255, 0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

body {
  padding-top: 6rem;
  height: 100%;

}

#menu{
    background-image: url("../img/backgroundMenu.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu{
    font-family: 'Dancing Script', cursive;
}

.menuDia{
    font-size: 30px;
}

.menuDia{
    color: #1BAC91;
}

.menuDiaInput{
    padding: 5px;
    background-color: #5ae9cfc5;
}

strong {
    position: relative;
}


strong::after {
    content: "";
    position: absolute;
    bottom: -0.300rem;
    left: -0.5rem;
    right: -0.5rem;
    height: 0.75rem;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/664131/underline.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.cardChildrens{
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cardChildrens:hover{
    bottom: 10px;
}

#chart{
    display:block;
    margin: 0 auto;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer2 .copyright2 {
  color: #fff;
  font-size: 14px;
  text-align: center;
  position: fixed;
  height: 50px;
  background-color: #1d1d1d;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  padding-top: 15px;

}


/*--------------------------------------------------------------
# TÍTULO
--------------------------------------------------------------*/

#titulo{
  text-align: center !important;

  color: #444444;
  font: normal 40px/50px "Montserrat", sans-serif;
  background: url("../img/cover01.jpg") center center;
  background-size: cover;
  padding-bottom: 2rem;
}

.texto-comedores {

  top: 50%;
  margin-top: -20px;
  font-family: 'Monserrat', serif;
  font-size: 50px;
}

p {
  display: inline-block;
  vertical-align: top;
 align-items: center;
}

.word {
  position: auto;
  width: 250px;
  opacity: 0;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.color {
  color: #1bac91;
}