/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/


.signup-section {
  padding-left: 12%;
  padding-right: 12%;
  padding-top: 6.5%;
  margin-bottom: 3%;
  
}

.login,
.image {
  min-height: auto;
}

.bg-image {
  background-image: url("../img/children08.jpg");
  background-size: cover;
  background-position: center center;
  border-radius: 20px;
}

.bg-image2 {
  background-image: url("../img/nutricionistaCard.jpg");
  background-size: cover;
  background-position: center center;
  border-radius: 20px;
}

body {
    color: #444444 !important;
    font-family: 'Newsreader', serif !important;

}

#boton-SignIn {
  color: white !important;
  background-color: #1bac91 !important;
  border: 1px solid #1fc5a7;
  margin-top: 1px;
  border-radius: 6px  !important;
  padding: 6px 15px 4px 15px !important;
  max-height: 40px !important;
  text-align: center !important;
  vertical-align: center !important;
}

#boton-SignIn:hover {
  background-color:  #1a8673 !important;
  border-radius: 6px !important;
  border: 1px solid #1fc5a7;
  transition: 1s;
}

#boton-SignIn:not(:hover) {   
    transition: 1.6s;
}

#link-SignUp:hover {
  text-decoration: underline;
} 

/* check (Recordar Email) */
#customCheck1 {
  background-color: #1bac91 !important;
}

/* --------- SACAR LAS FLECHAS PARA INCREMENTAR O DISMINUIR NÚMEROS --------- */
/* Chrome */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}
/* Other */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


#mensaje-Bienvenida-SignUp {
    font-size: 30px;
    text-align: center;
}

#mensaje-Secundario-SignUp {
    font-size: 15px;
    text-align: center;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer2 .copyright2 {
  color: #fff;
  font-size: 14px;
  text-align: center;
  position: fixed;
  height: 50px;
  background-color: #1d1d1d;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  padding-top: 15px;
  
}

