<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta content="ie=edge" http-equiv="X-UA-Compatible" />
  <meta content="Nutrividas" name="Grupo7" />
  <title>Nutrividas - Datos Comedor</title>

  <!-- Favicons -->
  <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}" />
  <link th:href="@{/img/favicon.ico}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,500,500i,600,600i,700,700i,900,900i"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Newsreader&family=Pacifico&family=Style+Script&display=swap}"
    rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/icofont/icofont.min.css}" rel="stylesheet">
  <link th:href="@{/boxicons/css/boxicons.min.css}" rel="stylesheet">
  <link th:href="@{/owl.carousel/assets/owl.carousel.min.css}" rel="stylesheet">
  <link th:href="@{/venobox/venobox.css}" rel="stylesheet">
  <link th:href="@{/aos/aos.css}" rel="stylesheet">
  <link th:href="@{/hover/hover.min.css}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link th:href="@{/css/biografia.css}" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">

    <div class="container d-flex">

      <div class="logo">
        <a th:href="@{/}"><img th:src="@{/img/logo.png}" alt="" class="img-fluid"></a>
      </div>

      <div class="logo mr-auto">
        <h2 class="text-light mt-0" style="color: #1bac91 !important; font-family: Newsreader !important;"
          th:href="@{/}">&nbsp;Nutrividas</h2>
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Inicio</a></li>
          <li sec:authorize="hasRole('NUTRICIONISTA')" class="drop-down"><a href="#">Nutricionistas</a>
            <ul>
              <li><a th:href="@{/nutricionista/comedores/__${session.usernameSession}__}">Comedores a cargo</a></li>
              <li><a th:href="@{/nutricionista/asignarComedor/__${session.usernameSession}__}">Postularse a Comedor</a></li>
            </ul>
          </li>
          <li sec:authorize="isAuthenticated()" class="drop-down"><a href="#">Mostrar</a>
            <ul>
              <li><a th:href="@{/comedor}">Comedores Registrados</a>
              <li sec:authorize="hasAnyRole('NUTRICIONISTA','ADMIN')"><a th:href="@{/producto}">Lista de Productos</a>
              <li><a th:href="@{/canasta}">Lista de Canastas</a>
            </ul>
          </li>
          <li sec:authorize="hasAnyRole('NUTRICIONISTA','ADMIN')" class="drop-down"><a href="#">Registrar</a>
            <ul>
              <li sec:authorize="hasRole('ADMIN')"><a th:href="@{/signup/comedor}">Nuevo Comedor</a>
              <li sec:authorize="hasRole('ADMIN')"><a th:href="@{/producto/crear}">Nuevo Producto</a>
              <li sec:authorize="hasAnyRole('NUTRICIONISTA','ADMIN')"><a th:href="@{/canasta/crear}">Nueva Canasta</a>
            </ul>
          </li>
          <li><a sec:authorize="isAnonymous()" href="#contact">Contáctanos</a></li>
          &nbsp;&nbsp;&nbsp;
          <!-- Botón Usuario si está loggeado -->
          <li class="drop-down" sec:authorize="isAuthenticated()">
            <a aria-expanded="false" class="dropdown-click" data-bs-toggle="dropdown" href="#" id="dropdown-avatar"
               style="margin-top: -13px;" role="button float-right">
              <img  class="rounded-circle" th:src="@{__${session.foto}__}" width="50">
            </a>
            <ul>
              <a href="#"><b>¡Hola [[${session.usernameSession}]]!</b></a>
              <li class="dropdown-divider"></li>

              <li><a class="dropdown-item" th:href="@{/perfil/modificar/__${session.usernameSession}__}">Editar perfil</a></li>
              <li><a class="dropdown-item" th:href="@{/logout}">Cerrar sesión</a></li>
            </ul>
          </li>
          <!-- Fin Botón Usuario si está loggeado -->

          <!-- Botón Inicio Sesión si Usuario no está loggeado -->
          <li>
            <button th:onclick="location.href='/login'"  sec:authorize="isAnonymous()" id="boton-guardar"> Iniciar Sesión
              </a></button>
          </li>
          <!-- Fin botón para iniciar sesión -->
        </ul>

      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <div id="hero" class="home">

    <div class="container">
      <div class="hero-content">
        <h1>Comedores <br> que alimentan <span class="typed"></span></h1>
        <p class="typed-items" data-typed-person="">sonrisas, esperanzas, sueños ...</p>
        <div class="container" style="padding-left: 0px;">
          <button type="button" class="btn-get-started pull-left mx-auto" style="align-items: left;" id="conozca-mas"><a
              href="#about">¡Conozca más sobre [[${comedor.nombre}]]!</a></button>
        </div>
      </div>
    </div>
  </div><!-- End Hero -->

  <main id="main">

    <!-- ======= SOBRE EL COMEDOR ======= -->
    <div id="about" class="paddsection">
      <div class="container">
        <div class="row justify-content-between">

      <div class="col-lg-4 ">
            <div class="div-img-bg">
              <div class="about-img">
                <img th:object="${comedor}" th:src="${comedor.foto.ruta}" class="img-responsive" alt="me">
              </div>
            </div>
          </div>

          <div class="col-lg-7">
            <div class="about-descr">
              <p class="separator" th:text="${comedor.nombre}" id="comedor-nombre">Sobre </p>
              <p class="p-heading"><i class="bx bxs-quote-alt-left quote-icon-left"></i>
                [[${comedor.biografia.descripcion}]]
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>


            </div>

          </div>
        </div>
      </div>
    </div><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <div id="services">
      <div class="container">

        <div class="services-carousel owl-theme">

          <div class="services-block">

            <i class="ion-ios-browsers-outline"></i>
            <span>Cantidad de niños</span>
            <p class="separator" th:text="${comedor.cantidadDePersonas}"> </p>

          </div>

          <div class="services-block">

            <i class="ion-ios-lightbulb-outline"></i>
            <span>Dirección</span>
            <p class="separator" th:text="${comedor.direccion.calle} + ' '+ ${comedor.direccion.numero}"> </p>

          </div>

          <div class="services-block">

            <i class="ion-ios-color-wand-outline"></i>
            <span>Localidad</span>
            <p class="separator" th:text="${comedor.direccion.localidad}"> </p>

          </div>

          <div class="services-block">

            <i class="ion-ios-analytics-outline"></i>
            <span>Provincia</span>
            <p class="separator" th:text="${comedor.direccion.provincia}"></p>

          </div>

          <div class="services-block">

            <i class="ion-social-android-outline"></i>
            <span>Teléfono</span>
            <p class="separator" th:text="${comedor.telefono}"> </p>

          </div>

        </div>

      </div>

    </div>




  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer2">
    <div class="copyright2">
      Copyright&copy; 2010-2021 | <strong><span>&nbsp;Nutrividas&nbsp;</span></strong> | Todos los derechos
      reservados
    </div>
  </footer><!-- End Footer -->

  <!-- ======= BACK TO TOP ======= -->
  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
  <!-- ======= BACK TO TOP ======= -->


  <!-- Vendor JS Files -->
  <script th:src="@{/jquery/jquery.min.js}"></script>
  <script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/jquery.easing/jquery.easing.min.js}"></script>
  <script th:src="@{/php-email-form/validate.js}"></script>
  <script th:src="@{/typed/typed.js}"></script>
  <script th:src="@{/jquery-sticky/jquery.sticky.js}"></script>
  <script th:src="@{/isotope-layout/isotope.pkgd.min.js}"></script>
  <script th:src="@{/venobox/venobox.min.js}"></script>
  <script th:src="@{/owl.carousel/owl.carousel.min.js}"></script>

  <!-- Template Main JS File -->
  <script th:src="@{/js/biografia.js}"></script>

  <!-- Template Main JS File -->
  <script th:src="@{/js/main.js}"></script>
  </body>

</html>