<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta content="ie=edge" http-equiv="X-UA-Compatible" />
  <meta content="Nutrividas" name="Grupo7" />
  <title>Nutrividas - Carrito de Compras</title>

  <!-- Favicons -->
  <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}" />
  <link th:href="@{/img/favicon.ico}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Newsreader&family=Pacifico&family=Style+Script&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/icofont/icofont.min.css}" rel="stylesheet">
  <link th:href="@{/boxicons/css/boxicons.min.css}" rel="stylesheet">
  <link th:href="@{/owl.carousel/assets/owl.carousel.min.css}" rel="stylesheet">
  <link th:href="@{/venobox/venobox.css}" rel="stylesheet">
  <link th:href="@{/aos/aos.css}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link th:href="@{/css/style.css}" rel="stylesheet">
  <link th:href="@{/css/carrito.css}" rel="stylesheet">
</head>

<body class="hidden">

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">

    <div class="container d-flex">

      <div class="logo">
        <a th:href="@{/}"><img th:src="@{/img/logo.png}" alt="" class="img-fluid"></a>
      </div>

      <div class="logo mr-auto">
        <h2 class="text-light mt-0" style="color: #1bac91 !important;" th:href="@{/}">&nbsp;Nutrividas</h2>
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Inicio</a></li>
          <li sec:authorize="hasRole('NUTRICIONISTA')" class="drop-down"><a href="#">Nutricionistas</a>
            <ul>
              <li><a th:href="@{/nutricionista/comedores/__${session.usernameSession}__}">Comedores a cargo</a></li>
              <li><a th:href="@{/nutricionista/asignarComedor/__${session.usernameSession}__}">Postularse a Comedor</a></li>
            </ul>
          </li>
          <li sec:authorize="isAuthenticated()" class="drop-down"><a href="#">Mostrar</a>
            <ul>
              <li><a th:href="@{/comedor}">Comedores Registrados</a>
              <li sec:authorize="hasAnyRole('NUTRICIONISTA','ADMIN')"><a th:href="@{/producto}">Lista de Productos</a>
              <li><a th:href="@{/canasta}">Lista de Canastas</a>
            </ul>
          </li>
          <li sec:authorize="hasAnyRole('NUTRICIONISTA','ADMIN')" class="drop-down"><a href="#">Registrar</a>
            <ul>
              <li sec:authorize="hasRole('ADMIN')"><a th:href="@{/signup/comedor}">Nuevo Comedor</a>
              <li sec:authorize="hasRole('ADMIN')"><a th:href="@{/producto/crear}">Nuevo Producto</a>
              <li sec:authorize="hasAnyRole('NUTRICIONISTA','ADMIN')"><a th:href="@{/canasta/crear}">Nueva Canasta</a>
            </ul>
          </li>
          <li><a sec:authorize="isAnonymous()" href="#contact">Contáctanos</a></li>
          &nbsp;&nbsp;&nbsp;
          <!-- Botón Usuario si está loggeado -->
          <li class="drop-down" sec:authorize="isAuthenticated()">
            <a aria-expanded="false" class="dropdown-click" data-bs-toggle="dropdown" href="#" id="dropdown-avatar"
               style="margin-top: -13px;" role="button float-right">
              <img  class="rounded-circle" th:src="@{__${session.foto}__}" width="50">
            </a>
            <ul>
              <a href="#"><b>¡Hola [[${session.usernameSession}]]!</b></a>
              <li class="dropdown-divider"></li>

              <li><a class="dropdown-item" th:href="@{/perfil/modificar/__${session.usernameSession}__}">Editar perfil</a></li>
              <li><a class="dropdown-item" th:href="@{/usuario/compras/__${session.usernameSession}__}" sec:authorize="hasRole('USUARIO')">Mis compras</a></li>
              <li><a class="dropdown-item" th:href="@{/usuario/tarjetas/__${session.usernameSession}__}" sec:authorize="hasRole('USUARIO')">Mis Tarjetas</a></li>
              <li><a class="dropdown-item" th:href="@{/logout}">Cerrar sesión</a></li>
            </ul>
          </li>
          <!-- Fin Botón Usuario si está loggeado -->

          <!-- Botón Inicio Sesión si Usuario no está loggeado -->
          <li>
            <button th:onclick="location.href='/login'"  sec:authorize="isAnonymous()" id="boton-guardar"> Iniciar Sesión
              </a></button>
          </li>
          <!-- Fin botón para iniciar sesión -->
        </ul>

      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <!-- ======= TÍTULO ======= -->
  <section class="titulo" id="titulo">
    <div class="texto-comedores">
      <p> Canastas que alimentan</p>
      <p>
        <span class="word color">sonrisas</span>
      </p>
    </div>
  </section><!-- End TÍTULO -->

  <!-- ======= CANASTAS ======= -->
  <main>
    <div class="basket">
      <div class="basket-labels">
        <ul>
          <li class="item item-heading">Canasta</li>
          <li class="price">Precio</li>
          <li sec:authorize="hasRole('USUARIO')" class="quantity">Cantidad</li>
          <li class="subtotal">Subtotal</li>
        </ul>
      </div>

      <form method="POST" action="/compra/guardar" th:object="${compra}">
        <!-- <div class="basket"> -->


        <!-- PRODUCTO 4 -->
        <div class="basket-product" th:each="detalleCompra, rowStat : ${compra.detalleCompras}">
          <div class="item">
            <div class="product-image">
              <img th:src="@{/img/food-basket04.jpg}" alt="Canasta" class="product-frame">
            </div>
            <div class="product-details">
              <h1><span th:text="${detalleCompra.canasta.descripcion}"></span></h1>
              <h1><span class="item-quantity"></span></h1>
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-modal-trigger" data-bs-toggle="modal"
                th:attr="data-target='#customerModel'+${detalleCompra.canasta.id}"
                th:onclick="'javascript:verModal(' + ${detalleCompra.canasta.id} + ')'">
                Detalle de productos
              </button>
              <!-- Modal -->
              <div class="modal fade" th:id="${detalleCompra.canasta.id}" tabindex="-1"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="modal-productos">Productos</h5>
                      <button type="button" class="btn-close-modal" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <!-- Tabla de productos -->
                      <div class="container mt-3">
                        <p>Detalle de productos de la canasta</p>
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th></th>
                              <th>Cantidad</th>
                              <th>Nombre</th>
                              <th>Marca</th>
                              <th>Precio</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr th:each="elemento, step : ${detalleCompra.canasta.elementos}">
                              <th th:if="${elemento.producto.foto == null}" width="30px" heigth="25px"
                                class="text-center" th:style="'z-index: 100; background-image:url( '+@{/img/productos/productosDefault.jpg}+' ) !important;background-repeat: no-repeat;
                                background-position: center;background-size: cover;'">
                              </th>
                              <th th:unless="${elemento.producto.foto == null}" width="40px" heigth="25px"
                                class="text-center" th:style="'z-index: 100
                                ;background-image:url(http://localhost:8080/fotos/'+${elemento.producto.foto.id}+') !important;background-repeat: no-repeat;
                                 background-position: center;background-size: cover;'">
                              <td th:text="${elemento.cantidadNecesaria}"></td>
                              <td th:text="${elemento.producto.nombre}"></td>
                              <td th:text="${elemento.producto.marca.nombre}"></td>
                              <td th:text="${#numbers.formatDecimal(elemento.producto.precio,0,2)}" id="precio-modal">
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <!-- Fin Tabla de productos -->
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-modal-trigger" data-bs-dismiss="modal">Cerrar</button>

                    </div>
                  </div>
                </div>
              </div>
              <!-- Fin modal detalles productos -->
            </div>
          </div>
          <div th:text="${#numbers.formatDecimal(detalleCompra.canasta.precio,0,2)}" class="price"></div>
          <div sec:authorize="hasRole('USUARIO')" class="quantity">
            <input type="hidden" th:field="*{detalleCompras[__${rowStat.index}__].canasta}">
            <input type="number" th:field="*{detalleCompras[__${rowStat.index}__].cantidad}"
              value="${detalleCompras.cantidad}" min="0" class="quantity-field">
          </div>
          <div class="subtotal">0</div>

          <!-- <div class="remove">
          <button>Eliminar</button>
        </div> -->
        </div>
    </div>
    </div>


    <!-- RESUMEN COMPRA  -->
    <aside sec:authorize="hasRole('USUARIO')">
      <div class="summary mt-4">

        <div class="summary-subtotal">
          <div class="subtotal-title">Subtotal</div>
          <div class="subtotal-value final-value" id="basket-subtotal">0</div>
        </div>
        <div class="summary-delivery">
          <div class="summary-total-items"> Canastas Seleccionadas: <span class="total-items"></span></div>
        </div>
        <div class="summary-total">
          <div class="total-title">Total</div>
          <div class="total-value final-value" id="basket-total">0</div>
        </div>
        <div class="summary-checkout">

          <button type="submit" id="finalizarCompra" class="boton-guardar"> FINALIZAR COMPRA
            </a></button>
        </div>
      </div>
    </aside>
    </form>
  </main>
  <!-- End RESUMEN COMPRA --> <br><br>


  <!-- ======= Footer ======= -->
  <footer id="footer2">
    <div class="copyright2">
      Copyright&copy; 2021-2022 | <strong><span>&nbsp;Nutrividas&nbsp;</span></strong> | Todos los derechos
      reservados
    </div>
  </footer><!-- End Footer -->

<!-- ======= BACK TO TOP ======= -->
<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
<!-- ======= BACK TO TOP ======= -->

  <!-- JS -->
  <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js}"></script>
  <script th:src="@{/js/carrito.js}"> </script>
  <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js}"></script>

  <!-- Vendor JS Files -->
  <script th:src="@{/jquery/jquery.min.js}"></script>
  <script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/jquery.easing/jquery.easing.min.js}"></script>
  <script th:src="@{/php-email-form/validate.js}"></script>
  <script th:src="@{/owl.carousel/owl.carousel.min.js}"></script>
  <script th:src="@{/isotope-layout/isotope.pkgd.min.js}"></script>
  <script th:src="@{/venobox/venobox.min.js}"></script>
  <script th:src="@{/aos/aos.js}"></script>

  <!-- Template Main JS File -->
  <script th:src="@{/js/main.js}"></script>

  <!-- JS PARA TITULO -->
  <script th:src="@{/js/titulo.js}"></script>

  <script>

    function verModal(id) {
      $('#' + id).modal('show');
    }

  </script>


</body>

</html>