<!DOCTYPE html>
<html lang="es"  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="ie=edge" http-equiv="X-UA-Compatible" />
    <meta content="Nutrividas" name="Grupo7" />
    <title>Nutrividas - Comedores</title>

    <!-- Favicons -->
    <link rel="icon" type="image/x-icon" href="../static/img/favicon.ico" />
    <link href="../static/img/favicon.ico" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Newsreader&family=Pacifico&family=Style+Script&display=swap"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/icofont/icofont.min.css" rel="stylesheet">
    <link href="../static/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../static/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../static/venobox/venobox.css" rel="stylesheet">
    <link href="../static/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/css/comedores.css" rel="stylesheet">
    

</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex">

            <div class="logo">
                <a href="index.html"><img src="../static/img/logo.png" alt="" class="img-fluid"></a>
            </div>

            <div class="logo mr-auto">
                <h2 class="text-light mt-0" style="color: #1bac91 !important;" href="index.html">&nbsp;Nutrividas</h2>
            </div>

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li><a href="index.html">Inicio</a></li>
                    <li><a href="index.html#contactanos">Contáctanos</a></li>

                </ul>
            </nav><!-- .nav-menu -->

        </div>
    </header><!-- End Header -->

    <!-- ======= TÍTULO ======= -->

    <section class="titulo" id="titulo">
        
        <div class="texto-comedores">
            <p> Comedores que alimentan</p>
            <p>
                <span class="word color">sonrisas</span>               
            </p>
        </div>
    </section><!-- End TÍTULO -->

    <!-- ======= COMEDORES CARDS ======= -->
    <section class="hero-section">
        <div class="card-grid">
            <a class="card" href="carrito.html">
                <div class="card__background"
                    style="background-image:url(../static/img/children16.jpg);">
                </div>
                <div class="card__content">
                    <h3 class="card__heading">Estoy Creciendo</h3>
                    <p class="card__direccion">Moreno 1563 <br>Caseros, Buenos Aires</p>
                    
                </div>
            </a>
            <a class="card" href="#">
                <div class="card__background"
                    style="background-image:url(../static/img/children17.jpg);"></div>
                <div class="card__content">
                    <h3 class="card__heading">Pequeños Pekes</h3>
                    <p class="card__direccion">Brown 3906<br>La Plata, Buenos Aires</p>
                </div>
            </a>
            <a class="card" href="#">
                <div class="card__background"
                    style="background-image:url(../static/img/children18.jpg);"></div>
                <div class="card__content">
                    <h3 class="card__heading">Caritas Sucias</h3>
                    <p class="card__direccion">Dorrego 4078<br>Junín, Buenos Aires</p>
                </div>
            </a>
            <a class="card" href="#">
                <div class="card__background"
                    style="background-image:url(../static/img/children19.jpg);"></div>
                <div class="card__content">
                    <h3 class="card__heading">Pancitas Llenas</h3>
                    <p class="card__direccion">San Martín 961<br>Lanús, Buenos Aires</p>
                </div>
            </a>
            <a class="card" href="#">
                <div class="card__background"
                    style="background-image:url(../static/img/children20.jpg);"></div>
                <div class="card__content">
                    <h3 class="card__heading">Caminando de la Mano</h3>
                    <p class="card__direccion">Belgrano 7638<br>Quilmes, Buenos Aires</p>
                </div>
            </a>
            <a class="card" href="#">
                <div class="card__background"
                    style="background-image:url(../static/img/children21.jpg);"></div>
                <div class="card__content">
                    <h3 class="card__heading">Juntando Esperanzas</h3>
                    <p class="card__direccion">Suipacha 6391<br>Tigre, Buenos Aires</p>
                </div>
            </a>
            <a class="card" href="#">
                <div class="card__background"
                    style="background-image:url(../static/img/children22.jpg);"></div>
                <div class="card__content">
                    <h3 class="card__heading">Charquito de Amor</h3>
                    <p class="card__direccion">San Lorenzo 5834<br>Tandil, Buenos Aires</p>
                </div>
            </a>
            <a class="card" href="#">
                <div class="card__background"
                    style="background-image:url(../static/img/children13.jpg);"></div>
                <div class="card__content">
                    <h3 class="card__heading">Rincón del Alba</h3>
                    <p class="card__direccion">Uriburu 2897<br>Zárate, Buenos Aires</p>
                </div>
            </a>
        </div>
    </section> <!-- End Comedores Cards -->




    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="copyright">
            Copyright&copy; 2010-2021 | <strong><span>&nbsp;Nutrividas&nbsp;</span></strong> | Todos los derechos
            reservados
        </div>
    </footer><!-- End Footer -->



    <!-- ======= BACK TO TOP ======= -->
    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
    <!-- ======= BACK TO TOP ======= -->

    <!-- Vendor JS Files -->
    <script src="../static/jquery/jquery.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/jquery.easing/jquery.easing.min.js"></script>
    <script src="../static/php-email-form/validate.js"></script>
    <script src="../static/owl.carousel/owl.carousel.min.js"></script>
    <script src="../static/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="../static/venobox/venobox.min.js"></script>
    <script src="../static/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="../static/js/main.js"></script>

    <!-- JS PARA TITULO -->
    <script src="../static/js/titulo.js"></script>

</body>

</html>