<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta content="ie=edge" http-equiv="X-UA-Compatible" />
  <meta content="Nutrividas" name="Grupo7" />
  <title>Nutrividas - Crear Canasta</title>

  <!-- Favicons -->
  <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}" />
  <link th:href="@{/img/favicon.ico}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Newsreader&family=Pacifico&family=Style+Script&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/icofont/icofont.min.css}" rel="stylesheet">
  <link th:href="@{/boxicons/css/boxicons.min.css}" rel="stylesheet">
  <link th:href="@{/owl.carousel/assets/owl.carousel.min.css}" rel="stylesheet">
  <link th:href="@{/venobox/venobox.css}" rel="stylesheet">
  <link th:href="@{/aos/aos.css}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link th:href="@{/css/style.css}" rel="stylesheet">
  <link th:href="@{/css/productos2.css}" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">

    <!-- PRELOADER -->
    <div class="loader-center" id="onload">
      <div class="loader">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </div>
    <!-- END PRELOADER -->

    <div class="container d-flex">
      <div class="logo">
        <a th:href="@{/}"><img th:src="@{/img/logo.png}" alt="" class="img-fluid"></a>
      </div>
      <div class="logo mr-auto">
        <h2 class="text-light mt-0" style="color: #1bac91 !important;" th:href="@{/}">&nbsp;Nutrividas</h2>
      </div>
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a th:href="@{/}">Inicio</a></li>
          <li><a th:href="@{/#contact}">Contáctanos</a></li>
          <li class="drop-down"><a href="#">Mostrar</a>
            <ul>
              <li><a th:href="@{/comedor}">Lista de Comedores</a>
              <li><a th:href="@{/producto}">Lista de Productos</a>
            </ul>
          </li>
          <li class="drop-down"><a href="#">Registrar</a>
            <ul>
              <li><a th:href="@{/comedor/crear}">Nuevo Comedor</a>
              <li><a th:href="@{/producto/crear}">Nuevo Producto</a>
              <li><a th:href="@{/canasta/crear}">Nueva Canasta</a>
            </ul>
          </li>&nbsp;&nbsp;&nbsp;

          <!-- Botón Usuario si está loggeado -->
          <li class="drop-down" sec:authorize="isAuthenticated()">
            <a aria-expanded="false" class="dropdown-click" data-bs-toggle="dropdown" href="#" id="dropdown-avatar"
              style="margin-top: -13px;" role="button float-right">
              <img class="rounded-circle" th:src="@{/img/user-nopic.png}" width="50">
            </a>
            <ul>
              <a href="#"><b>¡Hola [[${session.usernameSession}]]!</b></a>
              <li class="dropdown-divider"></li>

              <li><a class="dropdown-item" th:href="@{/modificar/__${session.id}__}">Editar perfil</a>
              </li>
              <li><a class="dropdown-item" th:href="@{/logout}">Cerrar sesión</a></li>
            </ul>
          </li>
          <!-- Fin Botón Usuario si está loggeado -->
        </ul>
      </nav><!-- .nav-menu -->
      <!-- Botón Inicio Sesión si Usuario no está loggeado -->
      <a th:href="@{/login}" sec:authorize="isAnonymous()" class="botonform scrollto">Inicia Sesión</a>
      <!-- End Botón Inicio Sesión -->
    </div>
  </header><!-- End Header -->

  <!-- ======= TÍTULO ======= -->
  <section class="titulo" id="titulo">
    <div class="texto-productos">
      <p> Productos que alimentan</p>
      <p>
        <span class="word color">sonrisas</span>
      </p>
    </div>
  </section><!-- End TÍTULO -->

  <!-- ======= TABLA PRODUCTOS ======= -->
  <section>
    <div class="container" id="tabla-productos">

      <!-- Mensaje éxito y error -->
      <div th:if="${error != null} OR ${success != null}"
        th:classappend="${error != null} ? 'alert-danger' : 'alert-success'"
        class="alert alert-warning alert-dismissible fade show" role="alert">
        <i th:classappend="${error != null} ? 'fa-times-circle' : 'fa-check-circle'" class="fas "></i>
        [[${error != null} ? ${error} : ${success}]]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <!-- *************** -->
      <div class="row">
        <div class="col col-md-6 mb-5" style="background-color: #F8F9FA;">
          <h1 th:text="${titulo}" class="mt-5 text-center"></h1>
          <form class="m-5" th:action="@{/canasta/__${accion}__}" th:object="${canasta}" method="POST">

            <input th:if="${canasta.id} != null" th:field="*{id}" type="hidden"
              class="form-control border-0 shadow-sm px-4">

            <div class="form-group mt-5 mb-3">
              <label for="nombre">Nombre de la Canasta</label>
              <input th:field="*{descripcion}" type="text" placeholder="Descripción" required="" autofocus=""
                class="form-control border-0 shadow-sm px-4" style="padding-top: 2%;">
            </div>
            <div class="error text-start" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></div>

            <div class="row">
              <div class="col-md-6">
                <label for="nombre">Seleccione un Comedor</label>
                <select th:with="comedor=*{comedor}" name="comedor" id="comedor"
                  class="form-control border-0 shadow-sm px-4 mb-3" style="width: auto;padding-top: 4%;">
                  <option th:each="comedor : ${comedores}" th:value="${comedor.id}" th:text="${comedor.nombre}"
                    th:selected="${canasta.comedor != null} ? ${comedor.nombre} == *{comedor.nombre} : false">
                  </option>
                </select>
              </div>
              <div class="col-md-6">
                <div class="form-group mb-4">
                  <label for="nombre">Cantidad de personas</label>
                  <input th:field="*{cantidadDePersonas}" type="number" placeholder="..." required="" autofocus=""
                    class="form-control border-0 shadow-sm px-4" style="padding-top: 4%;">
                </div>
                <div class="error text-start" th:if="${#fields.hasErrors('cantidadDePersonas')}"
                  th:errors="*{cantidadDePersonas}"></div>
              </div>
            </div>

            <!--<div th:each="elemento : ${canasta.elementos}" class="form-check">
                <input th:id="${elemento.id}" th:name="${elemento.id}" th:field="${elementos}" th:field="*{elementos}"
                       class="form-check-input" type="checkbox"  id="flexCheckDefault">
                <label th:for="${elemento}"  th:text="${elemento}" class="form-check-label" for="flexCheckDefault">
                </label>
              </div>
    
              <tr th:each="elemento,status : ${canasta.elementos}">
                <td><input type="checkbox" th:checked="${elemento}" th:value="*{elementos[__${status.index}__]}" th:field="*{elementos[__${status.index}__]}"/></td>
              </tr>-->
            <div class="row">
              <div class="col-md-6">
                <button type="submit" class="btn btn-primary text-uppercase shadow-sm mb-2 mt-4" id="boton-guardar"
                  th:text="${action == 'guardar'} ? 'Crear canasta' : 'Guardar cambios'"></button>
              </div>
              <div class="col-md-6">
                <button class="btn btn-secondary mt-4" id="boton-guardar"> <a th:href="@{/producto}"> VER PRODUCTOS
                  </a></button>
              </div>
            </div>
          </form>
          
          <!-- TARJETA -->
          <div class="card mb-3 ml-3" th:unless="${canasta.elementos == null}"
            th:each="elemento : ${canasta.elementos}">

            <div class="row">
              <div class="col-md-4" th:if="${elemento.producto.foto == null}" th:style="'z-index: 100; background-image:url( '+@{/img/productos/productosDefault.jpg}+' ) !important;background-repeat: no-repeat;
                  background-position: center;background-size: 40%;'"></div>
              <div class="col-md-4" th:unless="${elemento.producto.foto == null}" th:style="'background-image:url(http://localhost:8080/fotos/'+${elemento.producto.foto.id}+') !important;background-repeat: no-repeat;
                    background-position: center; background-size: 40%;'"></div>
              <div class="col-md-6">
                <div class="card-body">
                  <h5 th:text="${elemento.producto.nombre}" class="card-title"></h5>
                  <p th:text="| $ ${elemento.producto.precio}|" class="card-text"></p></br>
                  <label for="cantidad">Cantidad:</label>
                  <input type="number" th:id="cantidad+${elemento.producto.id}"
                    th:name="cantidad+${elemento.producto.id}" th:value="${elemento.cantidadNecesaria}" disabled>
                  <button th:id="editarCantidad+${elemento.producto.id}"
                    th:onclick="'javascript:editarCantidad(' + ${elemento.producto.id} + ')'" class=" habilitado p-0">
                    <box-icon name='pencil' type='solid' animation='tada-hover' color='#1bac91'
                      th:id="editarIcono+${elemento.producto.id}"></box-icon>
                  </button>
                  <button th:id="confirmarCantidad+${elemento.producto.id}" disabled
                    th:onclick="'javascript:confirmarCantidad(' + ${elemento.producto.id} + ')'"
                    class=" deshabilitado p-0">
                    <box-icon name='check-circle' th:id="confirmarIcono+${elemento.producto.id}"></box-icon>
                  </button>
                </div>
              </div>
              <div class="col-md-2 align-self-center">
                <form method="POST" th:action="@{/elemento/eliminar/__${elemento.id}__}">
                  <a type="submit">
                    <box-icon name='trash-alt' type='solid' animation='tada-hover' color='#F55C5C'></box-icon>
                  </a>
                </form>
              </div>
            </div>
          </div>
        </div>
          <!-- SUBTOTAL -->
        <div class="col col-md-5 mb-5 ml-5" style="background-color: #F8F9FA; height: fit-content; padding-bottom: 2%;">
          <aside>
            <div class="summary mt-4 text-center">
              <div class="summary-subtotal">
                <label for="cantidad">Subtotal:</label>
                <div class="subtotal-value final-value" id="basket-subtotal">0</div>
              </div>
              <div class="summary-delivery">
                <label for="cantidad">Productos Seleccionados:</label> 
                <span class="total-items"></span></div>
              </div>
              <div class="summary-total">
                <div class="total-title">Total</div>
                <div class="total-value final-value" id="basket-total">0</div>
              </div>
              <div class="summary-checkout">
                <button class="btn btn-secondary mt-4" id="boton-guardar"> <a th:href="@{/pago}"> FINALIZAR COMPRA
                </a></button>
              </div>
            </div>
          </aside>
        </div>
        <!-- FIN SUBTOTAL -->
      </div>
    </div>
  </section>




  <!-- ======= END TABLA PRODUCTOS ======= -->
  <!-- ======= Footer ======= -->
  <footer id="footer2">
    <div class="copyright2">
      Copyright&copy; 2010-2021 | <strong><span>&nbsp;Nutrividas&nbsp;</span></strong> | Todos los derechos
      reservados
    </div>
  </footer><!-- End Footer -->

  <!-- ======= BACK TO TOP ======= -->
  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
  <!-- ======= BACK TO TOP ======= -->

  <!-- Vendor JS Files -->
  <script th:src="@{/jquery/jquery.min.js}"></script>
  <script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/jquery.easing/jquery.easing.min.js}"></script>
  <script th:src="@{/php-email-form/validate.js}"></script>
  <script th:src="@{/owl.carousel/owl.carousel.min.js}"></script>
  <script th:src="@{/isotope-layout/isotope.pkgd.min.js}"></script>
  <script th:src="@{/venobox/venobox.min.js}"></script>
  <script th:src="@{/aos/aos.js}"></script>
  <script th:src="@{https://unpkg.com/boxicons@2.1.1/dist/boxicons.js}"></script>

  <!-- Template Main JS File -->
  <script th:src="@{/js/main.js}"></script>

  <!--  JQUERY -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- JS PARA TITULO -->
  <script th:src="@{/js/titulo.js}"></script>

  <!-- BUSCADOR DE PRODUCTOS -->
  <script>

    function editarCantidad(id) {
      var inputCantidad = document.getElementById('cantidad' + id);
      var botonEditar = document.getElementById('editarCantidad' + id);
      var botonConfirmar = document.getElementById('confirmarCantidad' + id);

      console.log(id);
      inputCantidad.disabled = false;
      botonConfirmar.disabled = false;
      botonEditar.disabled = true;
    }

    function confirmarCantidad(id) {

      var inputCantidad = document.getElementById('cantidad' + id);
      var botonEditar = document.getElementById('editarCantidad' + id);
      var botonConfirmar = document.getElementById('confirmarCantidad' + id);

      inputCantidad.disabled = true;
      botonConfirmar.disabled = true;
      botonEditar.disabled = false;


      var cantidad = inputCantidad.value
      $.ajax({
        type: 'GET',
        url: '/elemento/editar_cantidad/' + id + '/' + cantidad
      });
    }

  </script>

</body>

</html>