<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="ie=edge" http-equiv="X-UA-Compatible" />
    <meta content="Nutrividas" name="Grupo7" />
    <title th:text=" 'Error ' + ${codigo}"></title>

    <!-- Favicons -->
    <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}" />
    <link th:href="@{/img/favicon.ico}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
    <link
        th:href="@{https://fonts.googleapis.com/css2?family=Newsreader&family=Pacifico&family=Style+Script&display=swap}"
        rel="stylesheet">

    <!-- Template Main CSS File -->
    <link rel="stylesheet" th:href="@{/assets/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/error2.css}" />
</head>

<body>

    <h1>error</h1>
    <div class="cloak__wrapper">
        <div class="cloak__container">
            <div class="cloak"></div>
        </div>
    </div>
 


    <div class="info" id="mensaje-error">
        <!-- <img th:src="@{/img/error.png}" width="175"> -->
        <h2 th:text="${codigo}" class="mt-3"></h2>
        <h2 th:text="${mensaje}"></h2>
        <h2>Disculpe los inconvenientes</h2>
        <p btn-get-started><a th:href="@{/}"> Volver al inicio</a></p>
    </div>

    <script th:src="@{/assets/bootstrap.bundle.min.js}"></script>

</body>

</html>