<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="ie=edge" http-equiv="X-UA-Compatible" />
    <meta content="Nutrividas" name="Grupo7" />
    <title>Nutividas - Login</title>

    <!-- Favicons -->
    <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}" />
    <link th:href="@{/img/favicon.ico}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Newsreader&family=Pacifico&family=Style+Script&display=swap"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/icofont/icofont.min.css}" rel="stylesheet">
    <link th:href="@{/boxicons/css/boxicons.min.css}" rel="stylesheet">
    <link th:href="@{/owl.carousel/assets/owl.carousel.min.css}" rel="stylesheet">
    <link th:href="@{/venobox/venobox.css}" rel="stylesheet">
    <link th:href="@{/aos/aos.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link th:href="@{/css/login.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">

</head>

<body>

   <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">

    <div class="container d-flex">

      <div class="logo">
        <a th:href="@{/}"><img th:src="@{/img/logo.png}" alt="" class="img-fluid"></a>
      </div>

      <div class="logo mr-auto">
        <h2 class="text-light mt-0" style="color: #1bac91 !important;" th:href="@{/}">&nbsp;Nutrividas</h2>
      </div>

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="active"><a href="/">Inicio</a></li>
                <li sec:authorize="hasRole('NUTRICIONISTA')" class="drop-down"><a href="#">Nutricionistas</a>
                    <ul>
                        <li><a th:href="@{/nutricionista/comedores/__${session.usernameSession}__}">Comedores a cargo</a></li>
                        <li><a th:href="@{/nutricionista/asignarComedor/__${session.usernameSession}__}">Postularse a Comedor</a></li>
                    </ul>
                </li>
                <li sec:authorize="isAuthenticated()" class="drop-down"><a href="#">Mostrar</a>
                    <ul>
                        <li><a th:href="@{/comedor}">Comedores Registrados</a>
                        <li sec:authorize="hasAnyRole('NUTRICIONISTA','ADMIN')"><a th:href="@{/producto}">Lista de Productos</a>
                        <li><a th:href="@{/canasta}">Lista de Canastas</a>
                    </ul>
                </li>
                <li sec:authorize="hasAnyRole('NUTRICIONISTA','ADMIN')" class="drop-down"><a href="#">Registrar</a>
                    <ul>
                        <li sec:authorize="hasRole('ADMIN')"><a th:href="@{/signup/comedor}">Nuevo Comedor</a>
                        <li sec:authorize="hasRole('ADMIN')"><a th:href="@{/producto/crear}">Nuevo Producto</a>
                        <li sec:authorize="hasAnyRole('NUTRICIONISTA','ADMIN')"><a th:href="@{/canasta/crear}">Nueva Canasta</a>
                    </ul>
                </li>
                <li><a sec:authorize="isAnonymous()" href="#contact">Contáctanos</a></li>
                &nbsp;&nbsp;&nbsp;
                <!-- Botón Usuario si está loggeado -->
                <li class="drop-down" sec:authorize="isAuthenticated()">
                    <a aria-expanded="false" class="dropdown-click" data-bs-toggle="dropdown" href="#" id="dropdown-avatar"
                       style="margin-top: -13px;" role="button float-right">
                        <img  class="rounded-circle" th:src="@{__${session.foto}__}" width="50">
                    </a>
                    <ul>
                        <a href="#"><b>¡Hola [[${session.usernameSession}]]!</b></a>
                        <li class="dropdown-divider"></li>

                        <li><a class="dropdown-item" th:href="@{/perfil/modificar/__${session.usernameSession}__}">Editar perfil</a></li>
                        <li><a class="dropdown-item" th:href="@{/usuario/compras/__${session.usernameSession}__}" sec:authorize="hasRole('USUARIO')">Mis compras</a></li>
                        <li><a class="dropdown-item" th:href="@{/usuario/tarjetas/__${session.usernameSession}__}" sec:authorize="hasRole('USUARIO')">Mis Tarjetas</a></li>
                        <li><a class="dropdown-item" th:href="@{/logout}">Cerrar sesión</a></li>
                    </ul>
                </li>
                <!-- Fin Botón Usuario si está loggeado -->

                <!-- Botón Inicio Sesión si Usuario no está loggeado -->
                <li>
                    <button th:onclick="location.href='/login'"  sec:authorize="isAnonymous()" id="boton-guardar"> Iniciar Sesión
                        </a></button>
                </li>
                <!-- Fin botón para iniciar sesión -->
            </ul>

        </nav><!-- .nav-menu -->

      <!-- Botón Inicio Sesión si Usuario no está loggeado -->
      <!-- <a th:href="@{/login}" sec:authorize="isAnonymous()" class="botonform scrollto">Inicia Sesión</a> -->
      <!-- End Botón Inicio Sesión -->
    </div>
  </header><!-- End Header -->




    <section class="login-section">
        <!-- Mensaje éxito y error-->
        <div id="alert" th:if="${error != null} OR ${logout != null}"
            th:classappend="${error != null} ? 'alert-danger' : 'alert-warning'"
            class="alert alert-warning alert-dismissible fade show" role="alert">
            <i th:classappend="${error != null} ? 'fa-times-circle' : 'fa-check-circle'" class="fas "></i>
            [[${error != null} ? ${error} : ${logout}]]
        </div>

        <div th:if="${success != null}" class="alert alert-success alert-dismissible fade show" role="alert">
            <i class="fas fa-check-circle"></i>[[${success}]]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <!-- ************ -->
        <div class="container-fluid">
            <div class="row no-gutter">



                <!-- The image half -->
                <div class="col-md-6 d-none d-md-flex bg-image"></div>

                <!-- The content half -->
                <div class="col-md-6 bg-light">

                    <div class="login d-flex align-items-center py-5">

                        <!-- Demo content-->
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-10 col-xl-7 mx-auto">
                                    <h3 class="display-4" id="mensaje-Bienvenida-Login">¡Bienvenido!</h3>
                                    <p class="text-muted mb-4" id="mensaje-Secundario-Login">Inicie sesión en su cuenta
                                    </p>
                                    <form th:action="@{/logincheck}" method="POST">
                                        <div class="form-group mb-3">
                                            <label for="password">Nombre de Usuario</label>
                                            <input id="inputEmail" type="text" name="username"
                                                placeholder="Nombre de usuario" required="" autofocus=""
                                                class="form-control border-0 shadow-sm px-4">
                                        </div>
                                        <div class="form-group mb-3">
                                            <label for="password">Contraseña</label>
                                            <input id="inputPassword" type="password" name="password"
                                                placeholder="Contraseña" required=""
                                                class="form-control border-0 shadow-sm px-4 text-primary">
                                        </div>
                                        <div class="custom-control custom-checkbox mb-3">
                                            <input id="customCheck1" type="checkbox" checked
                                                class="custom-control-input">
                                            <label for="customCheck1" class="custom-control-label">Recordar
                                                usuario</label>
                                        </div>
                                        <button type="submit" class="btn btn-secondary mb-2"
                                            id="boton-SignIn">INGRESAR</button>
                                        <p class="text-muted mb-4">¿Es su primera vez en Nutrividas? <a
                                                th:href="@{/seleccion}" id="link-SignUp">Regístrate</a></p>

                                    </form>
                                </div>
                            </div>
                        </div><!-- End -->

                    </div>
                </div><!-- End -->

            </div>
        </div>
    </section>

    <!-- ======= Footer ======= -->
    <footer id="footer2">
        <div class="copyright2">
            Copyright&copy; 2010-2021 | <strong><span>&nbsp;Nutrividas&nbsp;</span></strong> | Todos los derechos
            reservados
        </div>
    </footer><!-- End Footer -->

    <!-- Vendor JS Files -->
    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/jquery.easing/jquery.easing.min.js}"></script>
    <script th:src="@{/php-email-form/validate.js}"></script>
    <script th:src="@{/owl.carousel/owl.carousel.min.js}"></script>
    <script th:src="@{/isotope-layout/isotope.pkgd.min.js}"></script>
    <script th:src="@{/venobox/venobox.min.js}"></script>
    <script th:src="@{/aos/aos.js}"></script>

    <!-- Template Main JS File -->
    <script th:src="@{/js/main.js}"></script>

   <script>
        $("#alert").fadeTo(2000, 500).slideUp(500, function(){
            $("#alert").slideUp(500);
        });
</script>

</body>

</html>