<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8" />
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="ie=edge" http-equiv="X-UA-Compatible" />
	<meta content="Nutrividas" name="Grupo7" />
	<title>Nutrividas - Pago con Tarjeta</title>

	<!-- Favicons -->
	<link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}" />
	<link th:href="@{/img/favicon.ico}" rel="apple-touch-icon">

	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Newsreader&family=Pacifico&family=Style+Script&display=swap"
		rel="stylesheet">

	<!-- Vendor CSS Files -->
	<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{/icofont/icofont.min.css}" rel="stylesheet">
	<link th:href="@{/boxicons/css/boxicons.min.css}" rel="stylesheet">
	<link th:href="@{/owl.carousel/assets/owl.carousel.min.css}" rel="stylesheet">
	<link th:href="@{/venobox/venobox.css}" rel="stylesheet">
	<link th:href="@{/aos/aos.css}" rel="stylesheet">

	<!-- Template Main CSS File -->
	<link th:href="@{/css/style.css}" rel="stylesheet">
	<link th:href="@{/css/pago.css}" rel="stylesheet">


</head>

<body>

	<!-- ======= Header ======= -->
	<header id="header" class="fixed-top">

		<!-- PRELOADER -->
		<div class="loader-center" id="onload">
			<div class="loader">
				<div class="dot"></div>
				<div class="dot"></div>
				<div class="dot"></div>
				<div class="dot"></div>
				<div class="dot"></div>
			</div>
		</div>
		<!-- END PRELOADER -->

		<div class="container d-flex">
			<div class="logo">
				<a th:href="@{/}"><img th:src="@{/img/logo.png}" alt="" class="img-fluid"></a>
			</div>
			<div class="logo mr-auto">
				<h2 class="text-light mt-0" style="color: #1bac91 !important;" th:href="@{/}">&nbsp;Nutrividas</h2>
			</div>
			<nav class="nav-menu d-none d-lg-block">
				<ul>
					<li><a th:href="@{/}">Inicio</a></li>

					<li class="drop-down"><a href="#">Mostrar</a>
						<ul>
							<li><a th:href="@{/comedor}">Comedores Registrados</a>
							<li><a th:href="@{/producto}">Lista de Productos</a>

						</ul>
					</li>
					<li class="drop-down"><a href="#">Registrar</a>
						<ul>
							<li><a th:href="@{/comedor/crear}">Nuevo Comedor</a>
							<li><a th:href="@{/producto/crear}">Nuevo Producto</a>
							<li><a th:href="@{/canasta/crear}">Nueva Canasta</a>
						</ul>
					</li>&nbsp;&nbsp;&nbsp;

					<!-- Botón Usuario si está loggeado -->
					<li class="drop-down" sec:authorize="isAuthenticated()">
						<a aria-expanded="false" class="dropdown-click" data-bs-toggle="dropdown" href="#"
							id="dropdown-avatar" style="margin-top: -13px;" role="button float-right">
							<img class="rounded-circle" th:src="@{/img/user-nopic.png}" width="50">
						</a>
						<ul>
							<a href="#"><b>¡Hola [[${session.usernameSession}]]!</b></a>
							<li class="dropdown-divider"></li>

							<li><a class="dropdown-item" th:href="@{/modificar/__${session.id}__}">Editar perfil</a>
							</li>
							<li><a class="dropdown-item" th:href="@{/logout}">Cerrar sesión</a></li>
						</ul>
					</li>
					<!-- Fin Botón Usuario si está loggeado -->
				</ul>
			</nav><!-- .nav-menu -->
			<!-- Botón Inicio Sesión si Usuario no está loggeado -->
			<a th:href="@{/login}" sec:authorize="isAnonymous()" class="botonform scrollto">Inicia Sesión</a>
			<!-- End Botón Inicio Sesión -->
		</div>
	</header><!-- End Header -->

	<!-- ======= TÍTULO ======= -->

	<section class="titulo" id="titulo">
		<div class="texto-comedores">
			<p> Comedores que alimentan</p>
			<p>
				<span class="word color">sonrisas</span>
			</p>
		</div>
	</section><!-- End TÍTULO -->

	<!-- ======= TARJETA DE CRÉDITO ======= -->
	<div class="contenedor">


		<section class="tarjeta" id="tarjeta">
			<div class="delantera" id="delantera">
				<div class="logo-marca" id="logo-marca">
					<!-- <img src="../static/img/visa.png" alt=""> -->
				</div>
				<img  th:src="@{/img/chip-tarjeta.png}" class="chip" alt="" id="chip">
				<div class="datos">
					<div class="grupo" id="numero">
						<p class="label">Número Tarjeta</p> <br>
						<p class="numero">#### #### #### ####</p>
					</div>
					<div class="flexbox">
						<div class="grupo" id="nombre">
							<p class="label">Nombre Tarjeta</p> <br>
							<p class="nombre">Nombre Titular</p>
						</div>

						<div class="grupo" id="expiracion">
							<p class="label">Fecha Exp.</p> <br>
							<p class="expiracion"><span class="mes">MM</span> / <span class="year">AA</span></p>
						</div>
					</div>
				</div>
			</div>

			<div class="trasera">
				<div class="barra-magnetica"></div>
				<div class="datos">
					<div class="grupo" id="firma">
						<p class="label">Firma</p>
						<div class="firma">
							<p></p>
						</div>
					</div>
					<div class="grupo" id="ccv">
						<p class="label">CCV</p>
						<p class="ccv"></p>
					</div>
				</div>
				<p class="leyenda">En caso de robo o pérdida, se agradecerá devolverla a Prisma Medios de Pago S.A., Lavardén 247, BS. AS.</p>
				<a href="#" class="link-banco">www.tubanco.com</a>
			</div>
		</section>

		<!-- Contenedor Boton Abrir Formulario -->
		<div class="contenedor-btn">
			<button class="btn-abrir-formulario" id="btn-abrir-formulario">
				<i class="fas fa-plus"></i>
			</button>
		</div>

		<!-- Formulario -->
		<form action="" id="formulario-tarjeta" class="formulario-tarjeta">
			<div class="grupo">
				<label for="inputNumero">Número Tarjeta</label>
				<input type="text" id="inputNumero" maxlength="19" autocomplete="off">
			</div>
			<div class="grupo">
				<label for="inputNombre">Nombre</label>
				<input type="text" id="inputNombre" maxlength="19" autocomplete="off">
			</div>
			<div class="flexbox">
				<div class="grupo expira">
					<label for="selectMes">Expiracion</label>
					<div class="flexbox">
						<div class="grupo-select">
							<select name="mes" id="selectMes">
								<option disabled selected>Mes</option>
							</select>
							<i class="fas fa-angle-down"></i>
						</div>
						<div class="grupo-select">
							<select name="year" id="selectYear">
								<option disabled selected>Año</option>
							</select>
							<i class="fas fa-angle-down"></i>
						</div>
					</div>
				</div>

				<div class="grupo ccv">
					<label for="inputCCV">CCV</label>
					<input type="text" id="inputCCV" maxlength="3">
				</div>
			</div>
			<button type="submit" class="btn-enviar ">Enviar</button>
		</form>
	</div>
	<!-- ======= TARJETA DE CRÉDITO ======= -->
	<!-- ======= Footer ======= -->
	<footer id="footer2">
		<div class="copyright2">
			Copyright&copy; 2010-2021 | <strong><span>&nbsp;Nutrividas&nbsp;</span></strong> | Todos los derechos
			reservados
		</div>
	</footer><!-- End Footer -->

	<!-- Vendor JS Files -->
    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/jquery.easing/jquery.easing.min.js}"></script>
    <script th:src="@{/php-email-form/validate.js}"></script>
    <script th:src="@{/owl.carousel/owl.carousel.min.js}"></script>
    <script th:src="@{/isotope-layout/isotope.pkgd.min.js}"></script>
    <script th:src="@{/venobox/venobox.min.js}"></script>
    <script th:src="@{https://unpkg.com/boxicons@2.1.1/dist/boxicons.js}"></script>
    <script th:src="@{/aos/aos.js}"></script>


	<!-- Template Main JS File -->
	<script th:src="@{/js/main.js}"></script>

	<!-- JS PARA TITULO -->
	<script th:src="@{/js/titulo.js}"></script>

	<!-- JS PARA TARJETA -->
	<script th:src="@{https://kit.fontawesome.com/2c36e9b7b1.js}" crossorigin="anonymous"></script>
	<script th:src="@{/js/pago.js}"></script>
</body>

</html>