<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<!-- xmlns:sec="http://www.thymeleaf.org/extras/spring-security" -->

<head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="ie=edge" http-equiv="X-UA-Compatible" />
    <meta content="Nutrividas" name="Grupo7" />
    <title>Nutividas - Políticas de Privacidad</title>

    <!-- Favicons -->
    <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}" />
    <link th:href="@{/img/favicon.ico}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Newsreader&family=Pacifico&family=Style+Script&display=swap"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/icofont/icofont.min.css}" rel="stylesheet">
    <link th:href="@{/boxicons/css/boxicons.min.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/policies.css}" rel="stylesheet">
</head>

<body>
   <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">

    <div class="container d-flex">

      <div class="logo">
        <a th:href="@{/}"><img th:src="@{/img/logo.png}" alt="" class="img-fluid"></a>
      </div>

      <div class="logo mr-auto">
        <h2 class="text-light mt-0" style="color: #1bac91 !important;" th:href="@{/}">&nbsp;Nutrividas</h2>
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="#hero">Inicio</a></li>
          <li class="drop-down"><a href="#">Sobre Nutrividas</a>
            <ul>
              <li><a href="#about">¿Qué hacemos?</a></li>
              <li><a href="#testimonials">Testimonios</a></li>
              <li><a href="#team">Nuestro Equipo</a></li>
              <li><a href="#faq">Preguntas Frecuentes</a></li>
            </ul>
          </li>
          <li class="drop-down"><a href="#">Nutricionistas</a>
            <ul>
              <li><a th:href="@{/nutricionista/comedores/__${session.usernameSession}__}">Comedores a cargo</a></li>
              <li><a th:href="@{/nutricionista/asignarComedor/__${session.usernameSession}__}">Postularse a Comedor</a></li>
            </ul>
          </li>
          <li class="drop-down"><a href="#">Mostrar</a>
            <ul>
              <li><a th:href="@{/comedor}">Comedores Registrados</a>
              <li><a th:href="@{/producto}">Lista de Productos</a>
              <li><a th:href="@{/canasta}">Lista de Canastas</a>
            </ul>
          </li>
          <li class="drop-down"><a href="#">Registrar</a>
            <ul>
              <li><a th:href="@{/signup/comedor}">Nuevo Comedor</a>
              <li><a th:href="@{/producto/crear}">Nuevo Producto</a>
              <li><a th:href="@{/canasta/crear}">Nueva Canasta</a>
            </ul>
          </li>
          <!-- <li><a href="#contact">Contáctanos</a></li> -->
          &nbsp;&nbsp;&nbsp;
          <!-- Botón Usuario si está loggeado -->
          <li class="drop-down" sec:authorize="isAuthenticated()">
            <a aria-expanded="false" class="dropdown-click" data-bs-toggle="dropdown" href="#" id="dropdown-avatar"
              style="margin-top: -13px;" role="button float-right">
              <img  class="rounded-circle" th:src="@{__${session.foto}__}" width="50">
              <!--<img th:uless="${session.foto} == null" class="rounded-circle" th:src="@{__${foto.ruta}__}" width="50">-->
            </a>
            <ul>
              <a href="#"><b>¡Hola [[${session.usernameSession}]]!</b></a>
              <li class="dropdown-divider"></li>

              <li><a class="dropdown-item" th:href="@{/perfil/modificar/__${session.usernameSession}__}">Editar perfil</a></li>
              <li><a class="dropdown-item" th:href="@{/logout}">Cerrar sesión</a></li>
            </ul>            
          </li>
          <!-- Fin Botón Usuario si está loggeado -->
          
         <!-- Botón Inicio Sesión si Usuario no está loggeado -->
          <li>
            <button th:onclick="location.href='/login'"  sec:authorize="isAnonymous()" id="boton-guardar"> Iniciar Sesión
            </a></button>
          </li>
          <!-- Fin botón para iniciar sesión -->
        </ul>

      </nav><!-- .nav-menu -->

      <!-- Botón Inicio Sesión si Usuario no está loggeado -->
      <!-- <a th:href="@{/login}" sec:authorize="isAnonymous()" class="botonform scrollto">Inicia Sesión</a> -->
      <!-- End Botón Inicio Sesión -->
    </div>
  </header><!-- End Header -->

    <!-- ======= TÍTULO ======= -->

    <section class="titulo" id="titulo">

        <div class="texto-titulo">
            <p> Políticas de Privacidad</p>
        </div>
    </section>

    <!-- ======= Disclaimer ======= -->
    <section class="disclaimer" id="disclaimer">
        <p> Nos complace que Usted visite el sitio oficial de Nutrividas (en adelante, el “Sitio”) y agradecemos su
            interés en el mismo. La protección de la privacidad es para nosotros primordial. En base a ello, a través de
            esta Política de Privacidad (en adelante, la “Política”) le indicamos la información que se puede recopilar
            a través del Sitio y/o las Aplicaciones publicadas en las tiendas de Apple y Google de Nutrividas (en
            adelante, las “Aplicaciones”) así como el uso que podremos dar a esa información. También se explica las
            medidas de seguridad tomadas para proteger su información, su posibilidad de acceder a su información, y a
            quién podrá contactar para que sus preguntas en relación con esta Política sean contestadas.</p>

        <p> A los fines de esta Política, el Responsable del Tratamiento es el Sector Legal de Nutrividas, con domicilio
            en calle Monteagudo 275, C1437 CABA, República Argentina. Asimismo, y le informamos que los datos de
            contacto del Delegado de Protección de Datos son: legales@nutrividas.com.</p>

        <p> Sugerimos leer atentamente esta Política antes de utilizar el Sitio y/o las Aplicaciones.</p>
        <br> <br>

        <h3><strong>Definiciones</strong></h3>

        <p>A los fines de la presente Política, los siguientes términos tendrán el significado que se indica a
            continuación:</p>

        <ol> (a) “Datos Personales”: toda información sobre una persona física identificada o identificable.</ol>

        <ol>(b) “Responsable del Tratamiento”: persona física o jurídica, autoridad pública, servicio u otro organismo
            que, solo o junto con otros, determine los fines y medios del tratamiento de datos.</ol>

        <ol>(c) “Afectado o Interesado”: toda persona física persona física identificada o identificable cuyos datos
            sean objeto del tratamiento.</ol>

        <ol>(d) “Tratamiento de datos”: cualquier operación o conjunto de operaciones realizadas sobre Datos Personales
            o conjuntos de datos personales, ya sea por procedimientos automatizados o no, como la recogida, registro,
            organización, estructuración, conservación, adaptación o modificación, extracción, consulta, utilización,
            comunicación por transmisión, difusión o cualquier otra forma de habilitación de acceso, cotejo o
            interconexión, limitación, supresión o destrucción.</ol>

        <br> <br>
        <h3><strong>Recopilación y Utilización de sus Datos Personales</strong></h3>

        <p> 3.1. Esta Política contempla la recopilación y uso de Datos Personales a través del Sitio y/o de las
            Aplicaciones.</p> <br>

        <p>3.2. En la medida que Usted nos facilite sus Datos Personales, le comunicamos que esos Datos Personales serán
            objeto de Tratamiento por parte de Nutrividas.</p> <br>

        <p>3.3. Se deja constancia que al hacer uso de los servicios existentes en el Sitio y/o las Aplicaciones, Usted
            acepta los términos de esta Política.</p> <br>

        <p>3.4. Nutrividas puede usar los Datos Personales que Usted nos haya suministrado para:</p>

        <ul>
            <li> administrar técnicamente el Sitio y/o las Aplicaciones;</li>
            <li>gestionar su cuenta de usuario registrado;</li>
            <li>proporcionar los servicios disponibles en el Sitio y/o las Aplicaciones;</li>
            <li>comprender mejor sus necesidades y saber cómo mejorar nuestros servicios;</li>
            <li>informar a los usuarios sobre nuevos servicios y a los efectos de marketing;</li>
            <li>procesar sus pedidos, solicitudes, denuncias, reclamos, etc. que Usted efectúe a través de los canales
                habilitados a tales efectos en el Sitio y/o las Aplicaciones;</li>
            <li>elaborar estadísticas con base en ella;</li>
            <li>comunicarnos con Usted.</li>
        </ul>

        <p> La base jurídica para dichos tratamientos es el cumplimiento de la relación contractual, en lo que refiere a
            los tratamientos derivados de su condición de usuario del Sitio y/o Aplicaciones. Respecto a las
            comunicaciones que podamos enviarle en respuesta a cuestiones que nos pueda plantear o solicitar, será el
            interés legítimo para darle respuesta a las mismas, y finalmente, en el caso de las comunicaciones
            comerciales, su consentimiento.</p>

        <p>3.5. En el caso de que los Datos Personales que Usted nos facilite se alojen en servidores ubicados fuera del
            Espacio Económico Argentino, éstos se tratarán en todo momento en cumplimiento a las normas en materia de
            protección de Datos Personales aplicables. En tales casos, Nutrividas adoptará los mecanismos necesarios
            para garantizar que las transferencias internacionales se realizan de forma segura.</p>

        <br> <br>
        <h3><strong>Datos Personales</strong></h3>

        <p>4.1. Nutrividas recopila Datos Personales cuando, entre otros casos:</p>
        <ul>
            <li> Usted se registra para hacer uso de alguno de los servicios disponibles en el Sitio y/o las
                Aplicaciones, como ser el envío de Newsletter o noticias referidas a los servicios ofrecidos por
                Nutrividas.</li>
            <li>Usted utiliza el Sitio y/o las Aplicaciones.</li>
            <li>Usted nos envía preguntas, consultas o comentarios.</li>
            <li>Usted solicita información o materiales.</li>
            <li>Usted provee de cualquier forma información al Sitio y/o las Aplicaciones (para la elaboración de
                reportes, inventarios, facturas, etc.).</li>
            <li>Usted efectúa algún reclamo.</li>
        </ul>
        <p>Dichos datos solo serán conservados por Nutrividas mientras se mantenga la relación contractual (es decir,
            mientras mantenga su condición de usuario del Sitio o de las Aplicaciones), y una vez terminada ésta, por el
            plazo correspondiente para el cumplimiento de las obligaciones legales aplicables a Nutrividas.</p>

        <p>4.2. El tipo de información recopilada puede incluir nombre, tipo y número de documento, teléfono, dirección
            de correo electrónico, información financiera y/o cualquier otra información que permita individualizarlo.
            En todos los casos que Usted facilite sus Datos Personales, y de acuerdo a la legislación vigente, Usted
            declara que los Datos Personales facilitados son ciertos.</p>

        <p>4.3. En los casos que Usted nos facilite sus Datos Personales, Usted acepta que dichos Datos Personales sean
            utilizados con las finalidades arriba mencionadas, y autoriza a que la misma sea tratada, almacenada,
            recopilada en las Bases de Datos de propiedad de Nutrividas. Asimismo, Usted acepta los términos de la
            presente Política.</p>

        <p>6.1. Nutrividas no vende, alquila ni comercializa a terceros los Datos Personales, ni tiene intenciones de
            hacerlo.</p>

        <p>6.2. Nutrividas no transfiere a terceros los Datos Personales que Usted nos haya proporcionado para que los
            mismos sean utilizados por estos terceros a menos que se lo hubiéramos notificado y obtenido su
            consentimiento explícito previamente.</p>

        <p>6.3. Sin perjuicio de los apartados anteriores, Nutrividas podrá comunicar Datos Personales cuando (i) seamos
            requeridos a hacerlo por un requerimiento de autoridad competente, (ii) tengamos la obligación de hacerlo
            por aplicación de la ley, (iii) creamos que la divulgación es necesaria o adecuada para evitar daños
            físicos, pérdida financiera o lesiones, o la interferencia con nuestros derechos o propiedad o los derechos
            o la propiedad de nuestros usuarios u otros, o en relación con una investigación real o presunta sobre una
            actividad ilegal, y/o (iv) tengamos razones para creer que ha utilizado la información del Sitio y/o las
            Aplicaciones con el fin de cometer actos delictivos o actos que puedan poner en peligro la salud o seguridad
            pública.</p>

        <p>6.4. Podemos designar a terceros como proveedores de servicios para administrar y / u operar ciertas
            funciones o servicios del Sitio y/o las Aplicaciones en nuestro nombre, cuyo correcto cumplimiento puede
            requerir un acceso a sus Datos Personales. Las funciones o servicios incluyen, por ejemplo, la
            administración del Sitio y/o las Aplicaciones y el envío de comunicaciones de marketing u otro tipo de
            comunicación con Usted acerca de nuestros productos, servicios o eventos especiales. Cualquier comunicación
            de este tipo estará sujeta a obligaciones de confidencialidad y seguridad, y con el único propósito del
            desempeño de las funciones o servicios correspondientes.</p>

        <br> <br>
        <h3><strong>Protección de sus Datos Personales</strong></h3>

        <p>7.1. Nutrividas ha implementado medidas de seguridad para resguardar y asegurar los Datos Personales que
            recopilamos en línea. Nosotros resguardamos los Datos Personales de acuerdo a estándares y procedimientos de
            seguridad establecidos y continuamente evaluamos nueva tecnología para proteger esa información. Nutrividas
            garantiza que los procesos internos propios de las bases de datos cumplen con las obligaciones legales de
            seguridad y confidencialidad impuestas por las normas correspondientes así como los estándares de seguridad
            de la industria.</p>

        <p>7.2. Sin embargo, Usted reconoce que los medios técnicos existentes que proporcionan seguridad no son
            inexpugnables, y que aun cuando se adopten todos los recaudos razonables de seguridad es posible sufrir
            manipulaciones, destrucción y/o pérdida de información.</p>

        <p>7.3. Todas las personas que desarrollen o administren la página, sean empleados, jerárquicos o no,
            directores, agentes, proveedores, contratistas, etc., y que tengan acceso a Datos Personales recolectados
            están obligados al secreto profesional inherentes a su cargo. Tal obligación subsiste aun después de
            finalizada su relación con Nutrividas.</p>
        <br> <br>

        <h3><strong>Links Externos</strong></h3>

        <p> El Sitio y/o las Aplicaciones pueden contener links hacia y provenientes de otros sitios de Internet.
            Nutrividas no es responsable por las prácticas de privacidad ni el Tratamiento de los Datos Personales de
            esos sitios. Le recomendamos que consulte las prácticas de privacidad de dichos sitios de Internet antes de
            su utilización.</p>
        <br> <br>

        <h3><strong>Ejerecicio de Derechos</strong></h3>

        <p>10.1. De conformidad con la legislación vigente, Usted podrá solicitar, en el marco de lo establecido en la
            normativa vigente, el ejercicio de su derechos de acceso, rectificación, limitación, oposición, portabilidad
            o supresión de sus Datos Personales mediante el envío de un correo electrónico a la siguiente dirección:
            nutrividas.info@gmail.com. Asimismo, le informamos que tiene derecho a interponer un reclamo ante la Agencia
            Argentina de Protección de Datos, por cualquier cuestión derivada del tratamiento de datos realizado por
            Nutrividas.</p>

        <p>10.2. En todo momento Usted puede ejercer su derecho a dejar de recibir nuestras newsletter, publicidades y/o
            cualquier comunicación con fines de marketing, para lo cual podrá enviar su solicitud de baja a la siguiente
            dirección de email: inutrividas.info@gmail.com.</p>

        <p>10.3. Su consentimiento para el Tratamiento de los Datos Personales por parte de Nutrividas puede ser
            revocado en cualquier momento. Para ejercer tal derecho, por favor contactarse por correo electrónico a la
            siguiente dirección nutrividas.info@gmail.com.</p>

        <p>10.4. Nutrividas hará todos los esfuerzos razonables para hacer que sus solicitudes sean cumplidas. No
            obstante, quizás necesitemos información adicional antes de poder procesar su solicitud, en cuyo caso nos
            pondremos en contacto con Usted.</p>
        <br> <br>

        <h3><strong>Cambios a esta Política de Privacidad</strong></h3>

        <p>Nutrividas se reserva el derecho a modificar esta política de privacidad periódicamente. En tal caso,
            Nutrividas cursará una notificación a la cuenta de correo electrónico registrado con su cuenta alertando la
            modificación a efectos de que Usted pueda acceder a la misma.</p>

    </section>
    
    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="copyright">
            Copyright&copy; 2010-2021 | <strong><span>&nbsp;Nutrividas&nbsp;</span></strong> | Todos los derechos
            reservados
    </footer><!-- End Footer -->

    <!-- ======= BACK TO TOP ======= -->
    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
    <!-- ======= BACK TO TOP ======= -->

    <!-- Vendor JS Files -->
    <script th:src="@{/jquery/jquery.min.js}"></script>



</body>

</html>