<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta content="ie=edge" http-equiv="X-UA-Compatible" />
  <meta content="Nutrividas" name="Grupo7" />
  <title>Nutrividas - Productos</title>

  <!-- Favicons -->
  <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}" />
  <link th:href="@{/img/favicon.ico}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Newsreader&family=Pacifico&family=Style+Script&display=swap"
        rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/icofont/icofont.min.css}" rel="stylesheet">
  <link th:href="@{/boxicons/css/boxicons.min.css}" rel="stylesheet">
  <link th:href="@{/owl.carousel/assets/owl.carousel.min.css}" rel="stylesheet">
  <link th:href="@{/venobox/venobox.css}" rel="stylesheet">
  <link th:href="@{/aos/aos.css}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link th:href="@{/css/style.css}" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/productos.css}">


</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container d-flex">

    <div class="logo">
      <a href="index.html"><img th:src="@{/img/logo.png}" alt="" class="img-fluid"></a>
    </div>

    <div class="logo mr-auto">
      <h2 class="text-light mt-0" style="color: #1bac91 !important;">&nbsp;Nutrividas</h2>
    </div>

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li><a href="index.html">Inicio</a></li>
        <li><a href="#contact">Contáctanos</a></li>

      </ul>
    </nav><!-- .nav-menu -->

  </div>
</header><!-- End Header -->

<!-- ======= TÍTULO ======= -->

<section class="titulo" id="titulo">

  <div class="texto-comedores">
    <p> Productos que alimentan</p>
    <p>
      <span class="word color">sonrisas</span>
    </p>
  </div>
</section><!-- End TÍTULO -->

<!-- ======= TABLA PRODUCTOS ======= -->
<section>
  <div class="container" id="tabla-productos">

    <h6 style="padding-bottom: 8px;">Para mayor comodidad, puede realizar una búsqueda por nombre o marca.</h6>
    <div class="row">
      <form class="m-3" method="GET" action="/producto/filtrar">
        <input name="busqueda" class="form-control" style="width: auto;"  type="text" placeholder="Buscar...">
        <button class="btn btn-secondary" type="submit">Buscar</button>
      </form>

      <form class="m-3" method="GET" action="/producto/cat">
        <label for="#categoria" class="col-form-label col-form-label-sm">Buscar por categoria </label>
        <select name="categoria" id="categoria" class="form-control form-control-sm" style="width: auto;" >
          <option th:each="categoria : ${T(grupo7.egg.nutrividas.enums.Categoria).values()}"
                  th:value="${categoria.valor}"
                  th:text="${categoria.valor}">
          </option>
        </select>
        <button class="btn btn-secondary mt-3" type="submit">Buscar</button>
      </form>

    </div>

    <br>

    <div class="alert alert-secondary" role="alert" th:if="${productos.page.isEmpty()}">
      <h5>No se hallaron productos</h5>
    </div>

    <table th:unless="${productos.page.isEmpty()}" class="table table-bordered table-striped">
      <thead>
      <tr>
        <th class="text-center">Foto</th>
        <th class="text-center">Nombre</th>
        <th class="text-center">Marca</th>
        <!-- <th>Categoría</th> -->
        <th class="text-center">Precio</th>
        <th class="text-center">Celíaco</th>
        <th class="text-center">Diabético</th>
        <th class="text-center">Hipertenso</th>
        <th class="text-center">Intolerante Lactosa</th>
        <th class="text-center">Editar</th>
      </tr>
      </thead>
      <tbody id="myTable" th:each="producto : ${productos.page}">
      <tr>
        <th th:if="${producto.foto == null}" width="25px" heigth="25px" class="text-center"
            th:style="'z-index: 100; background-image:url( '+@{/img/productos/productosDefault.jpg}+' ) !important;background-repeat: no-repeat;
            background-position: center;background-size: cover;'">
        </th>
        <th th:unless="${producto.foto == null}" width="25px" heigth="25px" class="text-center" th:style="'z-index: 100
        ;background-image:url(' + ${producto.foto.ruta}+ ') !important;background-repeat: no-repeat;
        background-position: center;background-size: cover;'">
        </th>
        <th th:text="|${producto.nombre}|" class="text-center"></th>
        <th th:text="|${producto.marca.nombre}|" class="text-center"></th>
        <!-- <th>Categoría</th> -->
        <th th:text="|${producto.precio}|" class="text-center"></th>
        <th class="text-center">
          <box-icon th:name="${producto.aptoCeliacos == true} ? 'check' : 'x'"></box-icon>
        </th>
        <th  class="text-center">
          <box-icon th:name="${producto.aptoDiabeticos == true} ? 'check' : 'x'"></box-icon>
        </th>
        <th class="text-center">
          <box-icon th:name="${producto.aptoHipertensos == true} ? 'check' : 'x'"></box-icon>
        </th>
        <th class="text-center">
          <box-icon th:name="${producto.aptoIntoleranteLactosa == true} ? 'check' : 'x'"></box-icon>
        </th>
        <td class="text-center">
          <a class="btn btn-nutri btn-space">Editar</a>
        </td>
      </tr>
      </tbody>
    </table>

    <!-- Paginacion -->
    <nav aria-label="Page navigation" class="paging">
      <ul class="pagination" th:if="${productos.page.totalPages > 1}">
        <li class="page-item" th:classappend="${!productos.paging.isPrevEnabled()? 'disabled' : ''}">
          <a class="page-link" th:href="@{'/producto?page=' + ${productos.paging.pageNumber - 1}}"
             tabindex="-1">Anterior</a>
        </li>
        <th:block th:each="item : ${productos.paging.getItems()}">
          <li class="page-item" th:classappend="${item.index == productos.paging.pageNumber? 'active' : ''}"
              th:if="${item.pageItemType.name() == 'PAGE'}">
            <a class="page-link" th:href="@{'/producto?page=' + ${item.index}}"
               th:text="${item.index}"></a>
          </li>
          <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">
            <a class="page-link" href="#">...</a>
          </li>
        </th:block>
        <li class="page-item" th:classappend="${!productos.paging.isNextEnabled()? 'disabled' : ''}">
          <a class="page-link" th:href="@{'/producto?page=' + ${productos.paging.pageNumber + 1}}">Sigiente</a>
        </li>
      </ul>
    </nav>
    <!-- ******************** -->

  </div> <!-- End Tabla productos -->



</section>

<!-- ======= Footer ======= -->
<footer id="footer2">
  <div class="copyright2">
    Copyright&copy; 2010-2021 | <strong><span>&nbsp;Nutrividas&nbsp;</span></strong> | Todos los derechos
    reservados
  </div>
</footer><!-- End Footer -->


<!-- JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>

<!-- Vendor JS Files -->
<script th:href="@{/jquery/jquery.min.js}"></script>
<script th:href="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:href="@{/jquery.easing/jquery.easing.min.js}"></script>
<script th:href="@{/php-email-form/validate.js}"></script>
<script th:href="@{/owl.carousel/owl.carousel.min.js}"></script>
<script th:href="@{/isotope-layout/isotope.pkgd.min.js}"></script>
<script th:href="@{/venobox/venobox.min.js}"></script>
<script th:href="@{/aos/aos.js}"></script>
<script th:href="@{/js/loader.js}"> </script>
<script src="https://unpkg.com/boxicons@2.1.1/dist/boxicons.js"></script>

<!-- Template Main JS File -->
<script th:href="@{/js/main.js}"></script>

<!--  JQUERY -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- JS PARA TITULO -->
<script th:href="@{/js/titulo.js}"></script>

<!-- BUSCADOR DE PRODUCTOS -->
<script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
</body>

</html>