<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<!-- xmlns:sec="http://www.thymeleaf.org/extras/spring-security" -->

<head>
  <meta charset="UTF-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta content="ie=edge" http-equiv="X-UA-Compatible" />
  <meta content="Nutrividas" name="Grupo7" />
  <title>Inicio - Nutrividas</title>

  <!-- Favicons -->
  <link rel="icon" type="image/x-icon" href="../static/img/favicon.ico" />
  <link href="../static/img/favicon.ico" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Newsreader&family=Pacifico&family=Style+Script&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/icofont/icofont.min.css" rel="stylesheet">
  <link href="../static/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../static/venobox/venobox.css" rel="stylesheet">
  <link href="../static/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex">

      <div class="logo">
        <a href="index.html"><img src="../static/img/logo.png" alt="" class="img-fluid"></a>
      </div>

      <div class="logo mr-auto">
        <h2 class="text-light mt-0" style="color: #1bac91 !important;">&nbsp;Nutrividas</h2>
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="#hero">Home</a></li>
          <li><a href="#about">¿Qué hacemos?</a></li>
          <li><a href="#services">Sumate</a></li>
          <li><a href="#testimonials">Testimonios</a></li>
          <li><a href="#team">Nuestro equipo</a></li>
          <li class="drop-down"><a href="">Drop Down</a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
              <li><a href="#">Drop Down 5</a></li>
            </ul>
          </li>
          <li><a href="#contact">Contáctanos</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left" data-aos="fade-up">
      <h1>Bienvenidos a Nutrividas</h1>
      <h2>Alimentando sonrisas</h2>
      <a href="#about" class="btn-get-started scrollto">¡Comencemos!</a>
    </div>
  </section>
  <!-- ======= End Hero Section ======= -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">

      <div class="row">
        <div class="col-xl-6 col-lg-7" data-aos="fade-right">
          <img src="../static/img/donacion.jpg" class="img-fluid" alt="donaciones">
        </div>
        <div class="col-xl-6 col-lg-5 pt-5 pt-lg-0">
          <h3 data-aos="fade-up">¡Ayudanos a ayudar!</h3>
          <p data-aos="fade-up">

          </p>
          <div class="icon-box" data-aos="fade-up">
            <i class="bx bx-heart-circle"></i>
            <h4>Sé parte de este proyecto que reúne a personas que sueñan con un futuro mejor para todos los niños.</h4>

          </div>

          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <i class="bx bx-badge"></i>
            <h4>Si tenés ganas de ayudar a un comedor, podés colaborar con alimentos comprando las canastas que
              necesitan. </h4>
          </div>

          <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
            <i class="bx bx-calendar-heart"></i>
            <h4>El trabajo en equipo y la cooperación son la base de nuestr objetivo: ayudar a quienes más lo necesitan.
            </h4>
          </div>

        </div>
      </div>

    </div>
  </section><!-- End About Section -->

<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <h2>¿Cómo puedo ayudar?</h2>
      <p>Hay muchos niños que necesitan de nuestra ayuda. <br> Aquí te contamos cómo podés hacer para llevar sonrisas a nuestros comedores registrados.</p>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up">
        <div class="icon-box icon-box-pink">
          <div class="icon"><i class="bx bx-detail"></i></div>
          <h4 class="title"><a href="">Registrate</a></h4>
          <p class="description">Texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto </p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
        <div class="icon-box icon-box-cyan">
          <div class="icon"><i class="bx bx-file"></i></div>
          <h4 class="title"><a href="">Chequeá la lista de comedores</a></h4>
          <p class="description">Texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto </p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="200">
        <div class="icon-box icon-box-green">
          <div class="icon"><i class="bx bx-store"></i></div>
          <h4 class="title"><a href="">Seleccioná las canastas de alimentos</a></h4>
          <p class="description">Texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto </p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="300">
        <div class="icon-box icon-box-blue">
          <div class="icon"><i class="bx bx-credit-card"></i></div>
          <h4 class="title"><a href="">Completá la compra</a></h4>
          <p class="description">Texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto </p>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Services Section -->




  <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="testimonials">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h1>Testimonios</h1>

        <p>
          <i class="bx bxs-quote-alt-left"></i>
          Mucha gente pequeña, en lugares pequeños, haciendo cosas pequeñas, puede cambiar el mundo.
          <i class="bx bxs-quote-alt-right"></i> <br> Eduardo Galeano.
        </p>

      </div>

      <div class="owl-carousel testimonials-carousel" data-aos="fade-up">

        <div class="testimonial-item">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Para comprar los alimentos recibíamos un escaso subsidio del Gobierno nacional.
            Ahora estamos cumpliendo con los 4 alimentos diarios de todos los niños. Esas sonrisas son el mayor regalo
            que podíamos espear.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src="../static/img/testimonial01.png" class="testimonial-img" alt="">
          <h3>Gabriel Pereyra</h3>
          <h4>Comedor Estoy Creciendo</h4>
        </div>

        <div class="testimonial-item">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Un día estábamos con mi esposa sentados afuera de nuestra casa y veíamos a los chicos que pedían casa por
            casa algo para cocinar. Fue así que nos acercamos a Nutfividas para que nunca falte un plato de comida a
            ningún chico.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src="../static/img/testimonial02.png" class="testimonial-img" alt="">
          <h3>Eliana Paniagua</h3>
          <h4>Comedor Pekes del Corazón</h4>
        </div>

        <div class="testimonial-item">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Tuve una infancia dura y sé lo que es que te falte la comida y la leche, ir a dormir con el estómago
            estrujando del hambre. Por eso me comprometí con esta
            causa para que otros nenes no pasen por esta situación y podamos llenar sus pancitas.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src="../static/img/testimonial03.png" class="testimonial-img" alt="">
          <h3>Silvia Palacios</h3>
          <h4>Comedor Caritas Sucias</h4>
        </div>

        <div class="testimonial-item">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Cuando empecé con el merendero, eran 15 niños. El año eran 30 y hoy en día ya estamos en los
            120. Mantenía mi merendero con ayuda de las redes sociales y los vecinos. De esta manera ahora podremos
            llegar a muchas más pesonas.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src="../static/img/testimonial04.png" class="testimonial-img" alt="">
          <h3>Giuliana Cerván</h3>
          <h4>Comedor Pancitas Llenas</h4>
        </div>

        <div class="testimonial-item">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            A nuestro comedor asisten un promedio de entre 100 personas. Antes, eran solo para chicos, pero ahora
            viene toda la familia: padres, madres, abuelos. Este proyecto nos ha sido de gran ayuda para poder alimentar
            a todas las familias.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src="../static/img/testimonial05.png" class="testimonial-img" alt="">
          <h3>Cristian Solís</h3>
          <h4>Comedor Caminando de la Mano</h4>
        </div>

        <div class="testimonial-item">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Este lugar resignificó mi existencia. Ya no concibo mis días sin estos niños.
            Ellos dan sentido al resto de mi vida con cada sonrisa, con cada "Te quiero", con cada abrazo. Al dar todo
            por ellos recibo mucho más de lo merezco.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src="../static/img/testimonial06.png" class="testimonial-img" alt="">
          <h3>Julieta Villarruel</h3>
          <h4>Comedor Juntando Esperanzas</h4>
        </div>

      </div>

    </div>
  </section><!-- End Testimonials Section -->





  <!-- ======= BACK TO TOP ======= -->
  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
  <!-- ======= BACK TO TOP ======= -->

  <!-- Vendor JS Files -->
  <script src="../static/jquery/jquery.min.js"></script>
  <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/jquery.easing/jquery.easing.min.js"></script>
  <script src="../static/php-email-form/validate.js"></script>
  <script src="../static/owl.carousel/owl.carousel.min.js"></script>
  <script src="../static/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/venobox/venobox.min.js"></script>
  <script src="../static/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/js/main.js"></script>

</body>

</html>